data/**
models/**
logs/**
outputs/**
notebooks/best_model_stage1.keras
notebooks/best_model_stage2.keras
notebooks/best_model.keras
__pycache__/
*.h5
*.png
*.ipynb_checkpoints/
.env
.venv/**
*.keras
*.h5
*.pt
*.pth
models/
notebooks/*.keras
project_details.txt