data:
  dir: './data/HAM10000/'
  img_size: [224, 224]
  batch_size: 8
model:
  num_classes: 7
  epochs: 50
  learning_rate: 0.001
paths:
  models_dir: "models"
  logs_dir: "logs"
  outputs_dir: "outputs"
class_names:
  0: 'akiec'
  1: 'bcc'
  2: 'bkl'
  3: 'df'
  4: 'mel'
  5: 'nv'
  6: 'vasc'